[Unit]
Description=Dynamic dns updater daemon
After=network-online.target

[Service]
EnvironmentFile=-/etc/dynamicdns/dynamicdns_env.conf
User=dynamicdns
ExecStart=/usr/local/bin/dynamic-dns start --config /etc/dynamicdns/dynamicdns.toml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
